#content {
	text-align: center;
}

input {
	color: rgb(54, 125, 20);
	text-align: center;
}

nav .navbar-collapse .navbar-nav .dropdown .dropdown-menu,
.navbar_custom {
	background-color: rgba(91, 20, 125, 0.2);
}

p,
h1,
nav .navbar-collapse .navbar-nav li a  {
	color: rgb(54, 125, 20);
}


nav .navbar-brand {
	color: rgb(54, 125, 20);
}

body {
	background-color: rgba(91, 20, 125, 0.3);
}

h1,
form {
	padding-top: 5%;
}

.row {
	padding-bottom: 10px;
}